body {
    margin: auto;
    text-align: center;
    justify-content: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.gameboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    border: 3px #944806 solid;
    border-radius: 2%;
    width: 306px;
}

.cell {
    display: flex;
    height: 100px;
    width: 100px;
    border: 1px #eae2b7 solid;
    border-radius: 5%;
    font-size: 90px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
    justify-content: center;
    align-items: center;
    color: #283618;
}

#gameRestartButton {
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 2%;
    border: outset 2px #944806;
    background-color: #dda15e;
    color: #944806;
}

h1, h2 {
    color: black
}
