body {
    margin: auto;
    text-align: center;
    justify-content: center;
    
}

.gameboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    border: 2px black solid;
    border-radius: 2%;
    width: 306px;
}

.cell {
    display: flex;
    height: 100px;
    width: 100px;
    border: 1px red solid;
    border-radius: 5%;
}